# Keil MDK Project Layout User Profile
*.uvgui.*
*.uvguix.*
*.Administrator
*.dbgconf
JLinkLog.txt
*.bak

# Keil Build Artifacts
out_file/
Objects/
Listings/
*.o
*.d
*.crf
*.elf
*.axf
*.map
*.htm
*.lnp
*.sct
*.lst
*.__i
*.build_log.htm
*.bin
*.hex
*.plg
*.dep
*.iex

*.tmp
*.~*
